<!-- div container -->

<!-- contenedor principal      -->
<div class="top-container">
  <!-- contenedor del toolbar -->
  <mat-toolbar
    class="container"
    fxLayout="row"
    fxLayoutGap="30px"
    fxFlexFill
    fxLayoutAlign="space-between"
  >
    <div class="tool-bar" fxFlex="40">
      <!-- <span>Crear Vuelos</span> -->
      <mat-slide-toggle  (change)="testChange($event)" routerLink="modo" >Modo crear vuelos</mat-slide-toggle>
    </div>

    <div class="titulo" fxFlexAlign="center">
      <i class="material-icons">airplanemode_active</i>
      <span>TOP SECRET</span>
      <i class="material-icons">airplanemode_active</i>
    </div>

    <div class="login-status" fxFlex="20" fxFlexAlign="end ">
      <div class="row-container">
        <!-- <span> Login status </span> -->

        <mat-chip-list>
          <span>hora login</span>
          <i class="material-icons">access_time</i>
          <mat-chip>08:23</mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </mat-toolbar>

  <router-outlet>
   
  </router-outlet>

  <mat-toolbar class="footer">
    <span>My Application Footer</span>
  </mat-toolbar>
</div>
