<div
  gdAreas="header header | side content | footer footer"
  gdGap="16px"
  gdRows="auto auto auto"
>
  <div gdArea="side">
    <app-table-creator></app-table-creator>
  </div>
  <div gdArea="content">
  
    <mat-vertical-stepper [linear]="isLinear" #stepper>
      <!-- done *************************************************-->
      <mat-step>
        <ng-template matStepLabel>Introduce Fecha</ng-template>
        <mat-form-field>
          <mat-label>Selecciona Hora</mat-label>
          <input matInput [matDatepicker]="picker" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </mat-step>

      <!-- introduce paises *************************************-->
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Introduce Paises </ng-template>
          <mat-form-field>
            <mat-label> Pais Origen</mat-label>
            <input
              type="text"
              placeholder="Pick one"
              aria-label="Number"
              matInput
              [formControl]="myControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let state of filteredOptions | async"
                [value]="state"
              >
                {{ state }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field>
            <mat-label> Pais Origen</mat-label>
            <input
              type="text"
              placeholder="Pick one"
              aria-label="Number"
              matInput
              [formControl]="myControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let state of filteredOptions | async"
                [value]="state"
              >
                {{ state }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <p>You selected: {{ selected }}</p>

          <div>
            <button mat-button matStepperPrevious>Atras</button>
            <button mat-button matStepperNext>Siguiente</button>
          </div>
        </form>
      </mat-step>

      <!-- introduce aeropuertos *******************************-->
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
           <!-- Aeropuerto Origen -->
          <ng-template matStepLabel> Introduce Aeropuertos</ng-template>
          <mat-form-field>
            <mat-label> Pais Origen</mat-label>
            <input
              type="text"
              placeholder="Pick one"
              aria-label="Number"
              matInput
              [formControl]="myControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let state of filteredOptions | async"
                [value]="state"
              >
                {{ state }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <!-- Aeropuerto Destino -->
          <mat-form-field>
            <mat-label> Pais Origen</mat-label>
            <input
              type="text"
              placeholder="Pick one"
              aria-label="Number"
              matInput
              [formControl]="myControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let state of filteredOptions | async"
                [value]="state"
              >
                {{ state }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Atras</button>
            <button mat-button matStepperNext>Siguiente</button>
          </div>
        </form>
      </mat-step>
      <!-- done *************************************************-->
      <mat-step>
        <ng-template matStepLabel>Modelo Avion</ng-template>
        <mat-form-field>
          <mat-label> Modelo Avion</mat-label>
          <input
            type="text"
            placeholder="Pick one"
            aria-label="Number"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let state of filteredOptions | async"
              [value]="state"
            >
              {{ state }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Atras</button>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Hecho!</ng-template>
        <p>As terminado.</p>
        <div>
          <button mat-button matStepperPrevious>Atras</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>
